* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-menu {
  margin: 10px 0;
}

.header-center form {
  display: flex;
  position: relative;
  margin: 0;
}

.header-center form input {
  background-color: #f1f1f1;

  height: 45px;
  width: 100%;
  border-radius: 25px;
  padding: 5px 0;
  padding-left: 15px;
  padding-right: 30px;
  border: 0;
  outline: none;
  margin: 0;
}

.header-center span button {
  height: 100%;
  width: 100%;
  background-color: #fbd947;
}

.header-center span button i {
  position: absolute;
  right: 12px;
  top: 16px;
}

.header-right {
  height: 60px;
  gap: 15px;
  margin-left: 20px;
}

.header-right li {
  /* margin: 0 15px; */
}

.header-left-homepage a img {
  background-color: transparent !important;
}

.contact {
  display: flex;
}

.contact img {
  align-self: center;
  margin-right: 5px;
}

.contact .std {
  font-weight: bold;
}

.contact-infor span {
  display: inline-block;
}

.user {
  position: relative;
  border: 1px dashed #f05a72;
}

.user img {
  display: block;
  align-self: center;
  margin-right: 5px;
  margin-left: 5px;
}

.userAcount {
  padding-right: 5px;
}

.userAcount a {
  text-decoration: none;
  color: #f05a72;
}

.userAcount a:hover {
  text-decoration: underline;
}

.cart {
  height: 100%;
  display: flex;
  align-items: center;
}

.cart-link {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 30px;
  text-decoration: none;
  border: 1px solid #f05a72;
  height: 100%;
  padding: 7px;
}

.cart-link img {
  align-self: center;
}

.cart-link .cart-quantity {
  align-self: center;
  text-align: center;
  background-color: #fbd947;
  width: 24px;
}

.cart-name {
  display: block;
  align-self: center;
  color: black;
}

.sub-Header-homepage {
  /* padding-top: 10px; */
  background-color: #f05a72;
}

.wrapper-subHeader {
  height: 48px;
  display: flex;
  width: 100%;
}

.toogle-nav-wrapper {
  width: 260px;
  height: 100%;
  margin-top: 5px;
  flex: 20%;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 20px 20px 0 0;
  background-color: #ffffff;
  color: #f05a72;
  font-weight: bold;
  position: relative;
  padding-left: 20px;
}

.toogle-nav-wrapper i {
  color: #f05a72;
}

.shop-policy {
  display: flex;
  justify-content: space-around;
  flex: 80%;
  padding: 0;
  margin: 0;
  align-items: center;
}

.shop-policy li {
  height: 40px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.shop-policy li a {
  text-decoration: none;
  color: #ffffff;
}

.shop-policy li div {
  display: inline-block;
  margin-right: 5px;
}

.shop-policy li div img {
}

/* .custom-tooltip{
  background-color: #fbd947;
} */

.toolip-cart {
  background-color: #fbd947 !important;
  color: black !important;
}

.navigation-wrapper {
  position: absolute;
  top: 30px;
}

.navbarlink-header li {
  background-color: aquamarine;
}

.cate-type-product:hover {
  color: #f05a72;
}

.toogle-nav-wrapper-content {
  position: relative;
}

.navbar-link-header-header {
  border: 0.5px solid #f6f6f6;
  margin-right: 10px;
}

.navbar-link-header-header ul {
  padding: 5px;
  text-decoration: none;
  list-style-type: none;
  width: 260px;
  overflow-y: auto;
  height: 520px;
  margin: 0;
  scrollbar-width: thin; /* Make the scrollbar thin */
  scrollbar-color: #f592a2 #f1f1f1;
}

.navbar-link-header-header ul li:hover {
  color: #f592a2;
}

.navbar-link-header-header ul li {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.navbar-link-header-header {
  position: absolute;
  display: none;
}

.toogle-nav-wrapper:hover {
  navbar-link-header-header {
    display: block;
  }
}
