* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Header-login {
  text-align: center;
}

.Header-login a {
  text-decoration: none;
  color: #f05a72;
}

.Header-login a:hover {
  text-decoration: underline;
}

/* .wraper-form .L-form{
    display: none;
} */

/* .wraper-form .Forgot-form{
    display: none;
}

.wraper-form .Change-password-form{
    display: none;
} */

.L-form form {
  padding: 7px;
  margin-top: 20px;
}

.L-form form p {
  margin: 0;
}

.L-input-place {
  height: 45px !important;
  width: 100% !important;
  position: relative;
  margin: 20px 0;
  margin: 0;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  position: relative;
}

.L-input-place i {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}

.L-input-place input {
  height: 100%;
  width: 100% !important;
  border: 0;
  background-color: transparent;
  padding: 7px 0;
  padding-right: 35px;
  padding-left: 15px;
  font-size: 16px;
  border: none !important;
  outline: none !important;
}

.L-input-place input::placeholder {
  color: #e1e1e1;
}

.L-input-place input:focus {
  box-shadow: 0 0 10px 5px #e1e1e1;
}

.link-Fogot-password {
  display: flex;
  justify-content: space-between;
}

.link-Fogot-password p {
  padding-right: 4px;
}

.link-Fogot-password a {
  color: #f05a72;
  text-decoration: none;
  cursor: pointer;
}

.link-Fogot-password a:hover {
  text-decoration: underline;
}

.b-form-login {
  text-align: center;
  background-color: #fbd947;
  border-radius: 25px;
  margin: 10px 0;
  cursor: pointer;
}

.b-form-login button {
  width: 100%;
  padding: 0;
  background-color: transparent;
  border: 0;
}

.b-form-login button p {
  padding: 12px;
}

.b-form-login:hover {
  background-color: #f05a72;
  button {
    color: white;
  }
}

.b-form-login-google {
  text-align: center;
  height: 48px !important;
  /* background-color: #FBD947; */
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid #cac8c8;
  border-radius: 25px;
  position: relative;
  margin-bottom: 15px;
}

.b-form-login-google button {
  width: 100% !important;
  height: 100% !important;
  padding: 0;
  background-color: transparent;
  border: 0;
}

.b-form-login-google button{
  width: 100%;
}

.b-form-login-google button p {
  padding: 12px;
}

.b-form-login-google:hover {
  background-color: #f05a72;
  button {
    color: white;
  }
}

.hr {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.b-form-login-google img {
  position: absolute;
  right: 30%;
  top: 8px;
}

.Forgot-form {
  margin: 40px 0;
}

.Forgot-form h2 {
  text-align: center;
  margin: 0;
}

.Forgot-form h6 {
  margin: 20px;
}

.Forgot-input-place {
  height: 45px !important;
  width: 100% !important;
  margin: 15px 0;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
}

.Forgot-input-place input {
  height: 100%;
  width: 100% !important;
  padding: 5px 20px;
  font-size: 16px;
  background-color: transparent;
  border: none !important;
  border-radius: 0;
  outline: none;
  margin: 0 !important;
}

.Forgot-input-place input::placeholder{
  color: #e1e1e1;
}

.Forgot-input-place input:focus {
  box-shadow: 0 0 10px 5px #e1e1e1;
}
.b-forgot-login {
  background-color: #fbd947;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 30px;
}

.b-forgot-login:hover {
  background-color: #f05a72;
  button {
    color: white;
  }
}

.b-forgot-login button {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
}

.b-forgot-login button p {
  padding: 12px;
  margin: 0;
}

.link-quaylai {
  text-align: center;
}

.link-quaylai p {
  font-size: 17px;
}

.link-quaylai p a {
  text-decoration: none;
  color: #f05a72;
}

.link-quaylai p a:hover {
  color: #f05a72;
  text-decoration: underline;
}

.charactor-num-from-email{
  margin-top: 30px;

}

.charactor-num-from-email p {
  margin: 0;
  padding: 0;
  height: 24px;
  width: 100%;

}
.charactor-num-from-email p a {
  color: #f05a72;
  text-decoration: none;
}

.charactor-num-from-email p a:hover {
  text-decoration: underline;
}

.charactor-new-password p {
  margin: 0;
}

.num-from-Email {
  height: 45px;
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-top: 4px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.num-from-Email input:focus {
  box-shadow: 0 0 10px 5px #e1e1e1;
}

.num-from-Email input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 5px 20px;
  font-size: 16px;
}

.num-from-Email input::placeholder {
  color: #e1e1e1;
}

.Change-password-form {
  margin: 20px 0;
}

.Change-password-form form {
  padding: 7px;
}

.Change-password-form form fieldset h2 {
  text-align: center;
}

.Change-password-input-place {
  height: 45px;
  margin-bottom: 30px;
  margin-top: 4px;
  border: 1px solid #e1e1e1;
  position: relative;
  border-radius: 5px;
}

.Change-password-input-place i {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}

.Change-password-input-place input {
  height: 100%;
  width: 100%;
  padding: 10px 0;
  padding-left: 15px;
  padding-right: 30px;
  outline: none;
  border: 0;
  background-color: transparent;
}

.Change-password-input-place input::placeholder {
  color: #dadada;
}

.Change-password-input-place input:focus {
  box-shadow: 0 0 10px 5px #e1e1e1;
}

.errorMsg {
  color: red;
  margin: 0;
}

.remmberME {
  position: relative;
}

.remmberME input {
  position: absolute;
  right: -20px;
  top: 7px;
}

.button-rememberme {
  margin-bottom: 10px;
}

.button-rememberme label{
  font-weight: normal;
}

.button-rememberme input{
 margin-right: 5px;
 align-items: end;
}

.register_input_place input{
  margin: 0 !important;
}
