.logo-header-admin{
    
}

.sub-header-admin{
}

.user-profile{
    display: flex;
    justify-content: end;
    padding-right: 30px;
}

.user-profile img{
    height: 45px;
    width: 45px;
}

.user-profile h5{
    align-self: center;
    margin: 0;
    padding-left: 10px;
}

.dropdown{
    align-self: center;
}

.nav-link-profile-admin-page{
    color: black;
    text-decoration: none;
}