/* AccountPage.css */

  
  .navbar {
    background-color: #fff;
    border-bottom: 1px solid #dee2e6;
  }
  
  .navbar-brand {
    color:  #F05A72 !important;
    font-weight: bold;
  }
  
  .nav-link {
    color: #000 !important;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    color:  #F05A72;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-text strong {
    color:  #F05A72;
  }
  
  footer {
    background-color:  #F05A72;
    color: #fff;
    padding: 20px 0;
    margin-top: 40px;
  }
  
  footer p {
    margin: 0;
  }
  
  .nav-link.active {
    font-weight: bold;
    color:  F05A72 !important;
  }
  