.reset-password-forgot-admin-wrapper-form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.reset-password-forgot-admin-wrapper-form form{
    width: 30%;
}

.header-reset-password-forgot-admin{
    text-align: center;
}

.header-reset-password-forgot-admin h4{
    margin-bottom:30px;
}

.input-reset-password-admin-wrapper p{
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.input-reset-password-admin{
    width: 100%;
    position: relative;
}

.input-reset-password-admin i{
    position: absolute;
    top: 15px;
    right: 15px;
}

.input-reset-password-admin input {
    outline: none;
    background-color: transparent;
    border: 0;
    height: 45px;
    width: 100%;
    padding: 0 10px;
    border-radius: 25px;
    padding-right: 35px;
}

.button-send-email-admin{
    outline: none;
    background-color: transparent;
    border: 0;
    height: 45px;
}

.button-reset-password-admin p{
    padding-top: 10px;
    height: 100%;
    width: 100%;
}

.link-return-loginadmin{
    margin-top: 10px;
    margin-bottom: 20px;
}

.link-return-loginadmin a{
    color: black;
    font-weight: bold;
}

.link-return-loginadmin a:hover{
    color: blue;
}
