.header-categories {
  display: flex;
  justify-content: space-between;
  /* background-color: aquamarine; */
}

.sub-button-categories {
  position: relative;
  margin: 0 10px;
 
  /* i{
        position: absolute;
        z-index: 10;
        left: -3px;
        top: 12px;
    } */
}

.button-categories {
  display: flex;
}

.search-categories {
  height: 50px;
  margin: 5px 0;
  width: 30%;
  border: 1px solid black;
  border-radius: 3px;
  position: relative;
}

.search-categories input {
  height: 100%;
  width: 100%;
  padding:0 20px;
  padding-bottom: 5px;
  outline: none;
  border: 0;

}

.search-categories i{
    position: absolute;
    right: 5px;
    top: 15px;
    z-index: 100;
}


.table-categories{
    margin:20px 0;
}

.action-button{
  margin-left: 10px;
}

.pagination{
  padding: 0 30px;
  display: flex;
  justify-content: end;
}

.stateImportCate{
  /* height: 460px; */
}